canvas{
    width: 300;
    height: 300;
   
}
h2{
    margin-top: 0px;
    font-size:large
}
input{
    width: 300px;
    color: blueviolet;
}
div.snake{
    width: 50%;  
}

.wrapper{
    display:flex;
    border: 2px solid rgb(158,158,158);
    padding: 3px;
    width: 80%;
}
.info{
    border: 2px solid rgb(158,158,158);
    width: 50%;
    padding: 2%;
    
}

